.IconBoxPwa {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.IconBoxPwaA {
    min-width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: #eaeaf1b4;
    padding: 10px;

}

.IconBoxPwaB small {
    font-weight: 600;
    color: #b1b7ba;
    margin: 10px;

}

.IconBoxPwaB {
    margin-left: 10px;
}

.FileGridItemimg {
    width: 80px;

}

.FileGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.FileGridItem {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.FileGridItemOverlay {
    background-color: rgba(255, 0, 0, 0.242);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Semi-transparent black background */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* Text color */
}

.Choosefileflex {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    overflow: hidden;
}


.UploadteUploadDetalisBox {

    font-size: 10px;
    margin-top: 10px;
}

.UploadingboxText {
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.UploadingboxTextDone {
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 600;

}

.ChoosefileText {

    font-weight: 600;
    color: #b1b7ba;

}

.FileUploadingbox {
    width: 100%;

    max-height: 500px;
    overflow: hidden;
}

.FileUploadingbox::-webkit-scrollbar {
    width: 5px;
}

.FileUploadingbox::-webkit-scrollbar-thumb {
    background-color: #dee5d9;
    border-radius: 10px;
}

.FileUploadingbox::-webkit-scrollbar-track {
    background-color: #eee;
}


.FileItem img {
    border-radius: 20px;

}

.PlanInItem {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-bottom: 1px solid rgb(242, 234, 234);
    padding: 5px;
}

.PlanInItemA {
    width: 50%;

}

.PlanInItemB {
    width: 50%;
}

.PlanInItemA {
    font-size: 13px;
    font-weight: 500;
}

.PlanInItemB {
    font-size: 13px;
    font-weight: 600;
}

.DbTOptext {
    display: flex;
    flex-direction: column;
    line-height: normal;
    text-transform: uppercase;

}

.UrlBoxText {
    display: flex;
    flex-direction: column;
    line-height: normal;

}

.UrlBoxText small {
    font-weight: 600;
    color: #405aee;
    text-transform: uppercase;

}

.UrlBox {
    display: flex;
    align-items: center;
    margin-top: 5px;

}

.DbTopBoxB {
    margin-left: 10px;
}

.DbTOptext span {
    font-size: 20px;
    font-weight: 600;
}

.SqureimgDb {
    min-width: 50px;
}

.DbTopBox {
    display: flex;
    align-items: center;

}

.DbTopBoxMain {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.SwitchBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.SeatBlock1 {
    width: 100%;

}

.DashboardCounterItemB {
    min-width: 50px;
}

.DbBox {
    padding: 10px;
}

.InpuTitleXy {
    display: flex;
    flex-direction: column;
}

.InpuTitleXy span {
    font-weight: 600;
}

.SettingsItemBox {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
    padding: 50px;
    background-color: white;

}

.STitle {
    display: flex;
    flex-direction: column;
}

.STitle span {
    font-size: 15px;
    font-weight: 500;
}

.STitle small {
    font-size: 12px;

}

.hinttext {
    color: #DC7633;
    margin: 2px;
}

.Comlteebox {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.Comlteebox span {
    color: #DC7633;
    font-weight: 600;
}

.WebidText {
    color: #DC7633;
    margin: 2px;
    font-weight: 600;
}

.hinttext span {
    font-size: 12px;
    font-weight: 500;
}

.STitleBig {
    display: flex;
    flex-direction: column;
}

.STitleBig span {
    font-size: 18px;
    font-weight: 500;
}

.STitleBig small {
    font-size: 12px;

}

.SettingsItem {
    display: flex;
    justify-content: space-between;
}

.BlistGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));


}

.Blist {
    padding: 20px;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
    margin: 5px;
    background-color: white;
    border-radius: 20px;
}

.BlistTop {
    display: flex;
    justify-content: space-between;

}

.BlistTopLogo {
    width: 120px;
    margin-bottom: 10px;
}

.BrboxMain {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}


.BrboxMainTextB {
    margin-left: 5px;
    font-weight: 500;
    color: white;
    font-size: 12px;

}

.BrboxMainA {
    width: 10%;

}

.BrboxMainB {
    width: 80%;
    overflow: hidden;
}

.BrboxMainC {
    width: 10%;

}

.TopFlexbox {
    display: flex;

    justify-content: space-between;
    margin: 5px;
    align-items: center;

    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, .08);
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.TopFlexboxA {
    width: 70%;
}

.TopFlexboxB {
    width: 30%;
    padding: 10px;
}


.PlanTitle span {
    font-weight: 600;
    font-size: 20px;
}

.PlanTitle small {
    font-weight: 500;
    font-size: 14px;
}

.includedBox {
    margin-top: 20px;
}

.includedBoxTitle span {
    font-weight: 500;
    font-size: 12px;
}

.PTSelctbtnBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d4d4dc;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 40px;

}

.PTSelctbtnActive {
    width: 50%;
    background-color: #5569ff;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-weight: 600;
    min-width: fit-content;
    cursor: pointer;
    margin: 5px;
}

.PTSelctbtn {
    margin: 5px;
    cursor: pointer;
    width: 50%;
    background-color: #f8f1f1;

    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-weight: 600;
    color: rgb(95, 86, 86);

    /* border: 1px solid #d4d4dc; */
    min-width: fit-content;
}


.Planh {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.PlanhA {
    text-align: center;
}

.PlanhA h1 {

    margin: 0;

}

.PlanhAx span {
    font-size: 15px;
    font-weight: 600;
    color: #ea4e4e;

}

.PlanhB {
    margin: 20px;
}

.OrderDoneb {
    padding: 10px;

}

.PGDilogBox {
    min-width: 400px;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
    padding: 10px;
    background-color: white;

}

.CreditBBoxPbox {
    padding: 20px;
    width: 100%;

}

.PassOrdermsg {
    margin: 10px;
    color: #918147;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

.CreditBBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;


    box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
    border-radius: 20px;
}

.CreditBBoxA {
    font-weight: 600;
    font-size: 13px;
}

.CreditBBoxB {
    font-weight: 700;
    color: #7fce34;
}

.OrderDonebox {
    padding: 30px;
    margin: auto;
    width: 60%;
    background-color: white;
    border-radius: 10px;
}

.OrderDonebox {
    padding: 30px;
    margin: auto;
    width: 60%;
    background-color: white;
    border-radius: 10px;
}

.OrderDoneboxText {
    text-align: center;
    margin: 10px;
}

.OrderDoneboxText h1 {
    color: #212324;
    font-size: 18px;

}

.OrderDoneboxText span {
    color: #918147;
    font-size: 13px;

}

.OrderDoneboxFooter {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.StstatusText {
    margin-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
}


.TodayAtbox {
    margin-top: 10px;
}


.TodayAtboxB {
    margin-top: 40px;

}

.OrderDatabox {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
    padding: 50px;

}

.InvBoxMsg {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 600;

}

.InvBoxItem {
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.InvBox {
    border: 1px solid rgb(220, 209, 209);
    padding: 10px;
}

.InvBoxItemA {
    max-width: 50%;
}

.InvBoxHeader {
    display: flex;
    justify-content: space-between;

}

.OrderID {
    font-weight: 700;
    font-size: 12px;
    color: #DC7633;

}

.Statustag {
    padding: 3px 15px 2px;
    border-radius: 5px;
    background-color: #eeeff5;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: black;

}

.Statustag span {
    font-weight: 700;
    font-size: 12px;
    color: black;
}

.OrderTitle {
    margin-top: 5px;
    font-size: 17px;
    font-weight: 500;
}

.OrderDate {
    font-size: 12px;
    margin-top: 10px;

}


.OrderStatusA {
    display: flex;
    align-items: center;


}

.OrderStatusBox {
    margin: auto;
    width: 40%;

}

.OrderDoneLottie {
    margin: auto;
    width: 100%;
    padding: 10px;

}

.OrderDoneLottieB {
    margin: auto;
    width: 60%;
    padding: 10px;

}




.Rbbox {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(240, 236, 236);
    margin-top: 20px;

}

.RbboxItem {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.RbboxItemA span {
    font-weight: 600;
    font-size: 13px;
}

.RbboxItemB span {
    font-weight: 600;
    font-size: 13px;
}

.RechargeBox {
    padding: 40px;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.Formbox {
    max-width: 300px;
}

.RechargeBoxHeader {
    display: flex;
    flex-direction: column;

}

.RechargeBoxHeader span {
    font-weight: 600;

}

.RechargeBoxHeader small {
    font-weight: 500;

}

.PlanGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.PlanImg {
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(233, 229, 225);
}

.Pricebox {
    margin: 5px;

}

.Pricebox del {
    color: red;
}

.Pricebox span {
    color: rgb(0, 81, 255);
    font-weight: 700;
    font-size: 15px;
}

.PriceboxText small {
    color: rgb(54, 55, 58);
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.PlanItem {
    padding: 20px;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
    margin: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PlanTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.WaringBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;

    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, .08);
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.WaringBoxA {

    padding: 10px;
}

.WaringBoxA span {
    font-weight: 500;
}

.WaringBoxA small {
    font-weight: 500;
    color: red;
}

.WaringBoxB {
    padding: 5px;
}

.UserDTb {

    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-bottom: 30px;
}

.UserDTb span {
    font-size: 15px;
    font-weight: 500;

}

.Productimg {
    width: 80px;
    margin-bottom: 10px;
}

.LBlogo {
    width: 150px;
    margin-bottom: 10px;
}

.BtnboxPage {
    display: flex;
    align-items: center;
    justify-content: space-between;


    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, .08);
    margin-bottom: 20px;
}

.BtnboxPageA {
    font-weight: 600;
    font-size: 14px;
}

.UserCounterGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.WalletItemtop {
    display: flex;
    justify-content: space-between;
}

.Counterbox {
    margin: 20px;
}

.UserCounterItem {
    box-shadow: 0 6px 5px rgba(0, 0, 0, .08);
    padding: 10px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(228, 181, 126);

}

.UserCounterItemA {
    font-size: 15px;
    font-weight: 500;
}

.UserCounterItemB {
    font-size: 12px;
    font-weight: 500;
}

.itemOrderM {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.itemOrderBB {
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.UserItemMain {
    padding: 20px;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
    margin: 5px;
    background-color: white;
}

.itemOrderM span {
    font-weight: 600;
    font-size: 15px;

}

.itemOrderM small {
    font-weight: 500;
    font-size: 12px;

}

.PMItemFABB {
    display: flex;
    align-items: center;
}

.BoxTitle {
    margin: 10px;
    font-weight: 600;
    font-size: 15px;

}

.MboxMain {
    margin-top: 60px;
    padding: 20px;
}

.UserItemTop {
    display: flex;


}

.UserItemTopB {
    margin-left: 20px;
    display: flex;
    flex-direction: column;


}

.UserItemTitle {
    display: flex;
    flex-direction: column;

}

.UserItemTitle span {
    font-weight: 600;
    font-size: 15px;

}

.UserItemTitle small {
    font-weight: 500;
    font-size: 12px;


}

.UserItemDesc {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;

}

.UserItemDescB {
    display: flex;
    flex-direction: column;
    margin-top: 10px;


}

.UserItemF {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.USerDP {
    width: 50px;
    height: 50px;

}

.UserGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));


}

.PgEditbox {
    display: flex;

}

.PgEditboxA {
    width: 50%;
}

.FormTitle {
    display: flex;
    flex-direction: column;

}

.FormTitle span {
    font-weight: 600;
}

.FormTitle small {
    font-size: 14px;
}

.PgEditboxB {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
}

.PgTipbox {

    padding: 50px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .08);

    border-radius: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}


.Activatebox {
    padding: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .08);

    border-radius: 20px;
}

.PMTitle {

    text-align: center;
    font-weight: 600;
}

.PMGrid {

    margin: 0 auto;
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}

.PMItemMain {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);

}

.PMItem {

    display: flex;
    justify-content: space-between;
}

.OFFLINEMsg {
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    color: red;
}

.PMItemA {
    padding: 10px;

    display: flex;

}

.PMItemB {
    margin-left: 10px;

}

.PMItemAImg {
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: #eaeaf1b4;
    padding: 10px;

}

.PMTypeText {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.Activatebtn {
    margin-top: 8px;
}

.Activatebtn small {
    color: red;
}

.PMTypeText span {
    font-weight: 700;
}

.Pmtag {
    margin: 5px;

    text-transform: uppercase;

    padding: 3px 15px 2px 15px;
    border-radius: 5px;
    background-color: #405aee;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

}

.Pmtag span {
    color: rgb(255, 255, 255);

    font-size: 10px;
    font-weight: 700;
}

.PmtagCredit {
    margin: 5px;
    text-transform: uppercase;
    border-radius: 5px;

    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.PmtagCredit span {
    color: #F39C12;

    font-size: 25px;
    font-weight: 700;
}

.PmtagCredit small {
    color: #A3E4D7;

    font-size: 10px;
    font-weight: 700;
}

.PMItemFotter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eaeaf1b4;
    padding-top: 10px;
}




.containerLogin {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17, 0.04) 0%, rgba(17, 17, 17, 0.04) 50%, rgba(197, 197, 197, 0.04) 50%, rgba(197, 197, 197, 0.04) 100%), radial-gradient(circle at 26% 17%, rgba(64, 64, 64, 0.04) 0%, rgba(64, 64, 64, 0.04) 50%, rgba(244, 244, 244, 0.04) 50%, rgba(244, 244, 244, 0.04) 100%), radial-gradient(circle at 44% 60%, rgba(177, 177, 177, 0.04) 0%, rgba(177, 177, 177, 0.04) 50%, rgba(187, 187, 187, 0.04) 50%, rgba(187, 187, 187, 0.04) 100%), linear-gradient(19deg, rgb(28, 117, 250), rgb(34, 2, 159));
}

.LoginFooterBox {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    font-size: 15px;
    text-align: center;


}

.ADtext {
    color: white;
    font-size: 17px;
    font-weight: 600;


}

.Mobtext {
    color: rgb(255, 122, 122);
    font-size: 17px;
    font-weight: 600;


}

.ADtexttwo {
    color: white;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

}

.overlayLogin {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.MB {
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
}

.MBFlex {
    display: flex;

}

.MBFlexA {
    width: 50%;
    padding: 50px;
}

.MBFlexB {
    width: 50%;
    padding: 50px;
}

.DatepikerCustom {
    padding: 10px;
    border-radius: 10px;
    outline: none !important;
    border: none !important;
}

.AmenitiesGridimg {
    width: 50px;
    margin: auto;
}

.AmenitiesBtm {
    margin-top: 5px;
}

.AmenitiesGrid {
    margin: 10px auto;
    display: grid;
    gap: 0.2rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.AmenitiesText {
    text-align: center;
    padding: 5px;
}

.AmenitiesItem {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(233, 221, 221);
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.LbPosterGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}

.LBPosteritemimg {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.LBPosteritemBottom {
    margin-top: 10px;
}

.LBPosteritem {

    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(233, 221, 221);
    margin: 2px;

}

.LBsmallBoxHeader {
    display: flex;
    justify-content: space-between;
}

.LBsmallBoxHeaderA span {
    font-weight: 700;
}


/* Seat Layout */


.SeatBoxLayout {
    overflow: auto !important;


}

.SeatItemMainB {
    font-weight: bold;
}

.SeatItemMain {

    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;

}


.SeatItemMainSelected {


    background-color: #5569ff;
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);


    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}


.SeatItemOccupied {


    background-color: #ff5555;
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);


    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}


.SeatBoxLayout::-webkit-scrollbar {
    max-height: 8px;
    width: 8px;
}

/* Define the style for the scrollbar thumb of the specific class */
.SeatBoxLayout::-webkit-scrollbar-thumb {
    background-color: #00a6ff;
    /* Color of the thumb */
    border-radius: 5px;
    /* Rounded corners */


}

/* Define the style for the scrollbar track of the specific class when the thumb is being dragged */
.SeatBoxLayout::-webkit-scrollbar-track {
    background-color: #7bff00;
    /* Color of the track */
}

/* Define the style for the corners of the scrollbar of the specific class */
.SeatBoxLayout::-webkit-scrollbar-corner {
    background-color: #310b0b;
    /* Color of the corners */
}

.SeatGridM {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}





.SeatItemMainA {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.SeatItemMainA small {
    font-size: 10px;
}

/* Seat Layout End */
.AddSubsBoxMian {
    height: 90vh;
    overflow: auto !important;
    background-color: #F5EEF8;
}

.Inputlabletext {

    font-weight: 600;
    margin-bottom: 20px;
    font-size: 15px;
    background-color: #e7e7ee;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.Addonlist {

    border-bottom: 1px solid rgb(240, 215, 215);
    color: rgb(77, 71, 71);
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.Branchitemlist {

    border-bottom: 1px solid rgb(240, 215, 215);
    color: rgb(77, 71, 71);
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.Branchitemlist:hover {
    background-color: #5569ff;
    color: rgb(255, 255, 255);
}

.BranchitemlistA {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.SelectBtn {
    border-radius: 10px;
    background-color: #201f1f;
    color: rgb(255, 255, 255);
    padding: 5px 25px 5px 25px;
    font-size: 12px;
}

.AddSubsBoxMianPadding {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.BranchDataBox {

    display: flex;
    flex-direction: column;


}

.BranchboxItem {

    width: 'fit-content';
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;

}

.BranchDataBoxA {

    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;
    background-color: white;


}

.BranchDataBoxB {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;
    background-color: white;
}

.BrachDetailbox {

    width: '100%';
}

.flextowdiv {
    display: flex;
}

.flextowdivA {
    width: 50%;
}

.flextowdivB {
    width: 50%;
}

.ProfileTabbox {
    margin-top: 10px;
}

.logomainMobile {
    width: 100px;
}

.urlitem {
    color: #5569ff;
    cursor: pointer;
}

.urlitem:hover {
    color: #ffbe55;
    cursor: pointer;
}

.ProfileTabboxHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(240, 215, 215);
    padding-bottom: 10px;
}

.ProfileTabboxMenuItem {
    cursor: pointer;
    margin: 5px;
    min-width: fit-content;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;

    font-weight: 500;
    border: 1px solid #d4d4dc;
    background-color: white;

}

.ProfileTabboxMenuItemActive {
    cursor: pointer;

    background-color: #5569ff;

    color: rgb(255, 255, 255);

    margin: 5px;
    min-width: fit-content;

    text-transform: uppercase;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;

    font-weight: 500;
    border: 1px solid #d4d4dc;

}



.ProfileboxgridItem {

    box-shadow: 0 6px 5px rgba(0, 0, 0, .08);

    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}

.Pmtagflex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.MainProfileBox {
    display: flex;
}

.MainProfileBoxB {
    margin-left: 10px;
}

.PAbox span {
    font-weight: 600;
    font-size: 20px;
}

.OrdedetailsItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.OrderBoxData {

    padding: 20px;
    border-radius: 10px;

}

.OrderBoxGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
}

.OrdedetailsItemA {
    font-weight: 600;
}

.OrderBoxGridItem {

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);

    padding: 20px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;

}

.OrderBoxGridItemTitle {
    font-weight: bold;
}

.MainCounterGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

.logomainDBimg {
    width: 50px;
}

.logomainDB {
    width: 200px;
    cursor: pointer;

}


.Flexbtnbox {
    display: flex;
    align-items: center;
}

.OnlyDesktop {
    display: block;
}

.OnlyMobile {
    display: none;
}

.EducatorCoursegrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));

}

.primaryColor {
    color: #5569ff
}

.Linkurl {
    color: #5569ff;
    cursor: pointer;


}

.Linkurlf4d03f {
    color: #f4d03f;
    cursor: pointer;
    font-weight: 700;
    text-decoration-line: underline;


}

.Prilename {
    text-align: center;
    margin: 10px;
    font-weight: 600;
}

.EducatorProfileboxA {
    display: flex;
    align-items: center;
    justify-content: center;

}

.EducatorProfileboxB {
    display: flex;
    flex-direction: column;
}

.EducatorlistSearch {
    width: 100%;

    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.EducatorlistSearch:hover {
    border: 1px solid black
}

.EducatorlistSearchA {
    width: 50px;
}

.EducatorlistSearchB {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.EducatorlistSearchB span {

    font-weight: 600;

}

.coursedetailsBox1Aimg {
    width: 100%;
}

.EducatorCoursegridItem {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: rgb(235, 232, 255);
    border-radius: 10px;
    text-align: center;

    padding: 20px;
    color: rgb(0, 0, 0);

}

.EducatorCoursegridItem span {
    font-weight: 600;
}


.CourseCounteritemGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

}

.Courseoverviewbox {
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;

}

.CourseCounteritem {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(235, 232, 255);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(0, 0, 0);

}

.CourseCounteritem span {
    font-size: 20px;
    font-weight: 600;
}

.coursedetailsBox1 {
    display: flex;
}

.stickyContainerBox {
    width: 100%;
    background-color: white;
    min-height: 100%;
}

.coursedetailsBox1A {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    width: 50%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);


    display: flex;
}



.coursedetailsBox1B {

    border-radius: 10px;


    overflow: hidden;
    width: 50%;

    padding: 20px;
}

.Courselistimgbox {
    display: flex;
}

.CourselistItemTable {
    cursor: pointer;
}



.CourselistimgboxB {
    margin-left: 10px;
}

.stickyContainer {
    height: 560px;
    padding: 20px;
    overflow: auto;
}

.stickyContainer2 {
    height: 560px;
    padding: 20px;
    overflow: auto;
}

.DashboardCounterGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

.Topbtnbox {
    display: flex;
    align-items: center;

}

.Topbtnbox::-webkit-scrollbar {
    display: none;
}

.TopbtnboxSearch {
    min-width: fit-content;
}

.Topbtnboxbtn {
    min-width: fit-content;
    margin-left: 5px;
}

.VideoBoxFlex {
    display: flex;
}

.VideoBoxFlexA {
    width: 50%;
    overflow: hidden;
}

.VideoBoxFlexB {

    width: 50%;

}

.Videoeditcard {
    margin-left: 20px;
    margin-right: 20px;

}

.VideoeditcardContent {

    padding: 20px;
}

.VideolistboxItem {
    display: flex;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.VideolistboxItemA {
    width: 50%;
    display: flex;
}

.videothumbimg {
    min-width: 180px;
    border-radius: 10px;
    overflow: hidden;

}

.videothumbBox {
    display: flex;
    width: 50%;
}

.VideoContentbox {
    margin-left: 15px;

}


.VideoContentbox h3 {
    margin: 0;
}

.Vtitle {
    font-size: 15px;
    font-weight: 600;
}


.stickyBoxList {
    height: 500px;
}


.videothumbTitleBox {
    width: 75%;
    margin-left: 10px;
    padding: 10px;
}

.VideoStickList {
    display: flex;
    align-items: center;
    font-size: 14px;

}

.VideoStickListA {
    margin-top: 5px;
}

.VideoStickListB {
    font-weight: 500;
    margin-left: 5px;
}

.VideoStickListBox {
    display: flex;
    align-items: center;
}

.TablevideotitleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.TablevideotitleBoxA {
    font-weight: 600;
}

.LogoBox {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.TopActionBtn {
    display: flex;
    align-items: center;
}

.LogoBoxB {
    font-weight: 500;
    font-size: 15px;
}

.Logomain {
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logomain img {
    width: 100%;
}

.MainContainer {
    min-height: 100vh;
    padding: 20px;
    background-color: white;
}

.stickytableBox {
    width: 100%;
    overflow: hidden;
    background-color: white;
    min-height: 60vh;
}

.stickytable {
    height: 550px;
}

.TitleHboxMain {
    position: fixed;
    top: 10%;
    background-color: white;
    width: 100%;
    z-index: 999;

}

.TitleHbox {

    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-top: 20px;


}

.TitleHboxA {
    width: 100%;
}

.TitleWithBackHeaderB {
    width: 100%;
}

.TitleWithBackHeader {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.marginTopMain {
    margin-top: 10px;
}


.EditCatBox {
    margin: auto;
    width: 50%;
    padding: 20px;
    border-radius: 5px;

}

.TitleWithBackHeaderA {
    display: flex;
    align-items: center;

}

.TitleWithBackHeaderA span {
    font-weight: bold;
}

.TitleWithBackHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logomain small {
    text-transform: uppercase;
    font-weight: 500;
}

.LoginBoxContainer {
    margin: auto;
    width: 500px;



}

.LoginBox {

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    border-radius: 10px;
    padding: 30px;

    background-color: rgb(255, 255, 255);


}

.inputlogin {
    margin-top: 20px;
}

.Catgrid {
    cursor: pointer;
}

.WebLive {

    display: flex;
    align-items: center;
}

.Catgrid:hover {
    border: 1px dashed #5569ff;
}

.min100vh {
    margin-top: 20px;
    min-height: 100vh;
}

.featuresimagebox {
    min-width: 500px;

}

.featuresimageboxA {
    width: 200px;
    text-align: center;
    margin: 10px;
}

.ItemList {
    margin: 10px;
    border: 1px solid rgb(233, 222, 222);
    padding: 10px;
    border-radius: 10px;
}

.ItemListBox {
    display: flex;
}

.ItemListBoxA {
    max-width: 200px;
}

.ItemListBoxB {
    margin-left: 10px;
}

.ItemListBoxB h3 {
    margin: 0;
}

.OptionItem {
    margin: 10px;
    border: 1px solid rgb(233, 222, 222);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.OptionItem:hover {
    color: rgb(214, 95, 95);
}

.OptionItemBox {
    display: flex;
    align-items: center;
}

.OptionItemBoxA {
    width: 100%;
}

.OptionItemBoxB {
    margin-left: 10px;
    width: fit-content;
}

.OptionItemBox h3 {
    margin: 0;
}

.OptionItemBox span {
    color: blue;
    font-size: 12px;
}

.Modalheader {
    display: flex;
    align-items: center;

}

.ModalheaderText {
    margin-left: 10px;
    font-weight: bold;
}

.Curserpointer {
    cursor: pointer;
}



.DashboardCounterItem {
    padding: 15px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    background-color: white;

}

.DashboardCounterItemA {
    display: flex;
    flex-direction: column;
}

.DashboardCounterItemA span {
    font-weight: 600;
}

.UserProfileBoxTop {
    padding: 20px;
    display: flex;

}

.UserProfileBoxTopB {
    margin-left: 10px;
}

.UserProfileBoxTopBName {
    font-weight: 600;
    font-size: 25px;
}

@media only screen and (max-width: 1100px) {
    .TitleWithBackHeader {
        flex-direction: column;
        align-items: flex-start;

    }



    .stickytable {
        height: 100%;
    }


    .DashboardGrid {
        margin: 0 auto;
        display: grid;
        gap: 1rem;

        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    }

    .OrderStatusBox {

        flex-wrap: wrap;

    }

    .OrderStatusBoxA {
        width: 100%;
        padding: 5px;
    }

    .OrderStatusBoxB {
        width: 100%;
        padding: 5px;
    }

    .FullDilogBox {
        width: 500px;
    }

    .featuresimagebox {
        flex-direction: column;
    }

    .featuresimageboxB {
        margin-top: 10px;
    }

    .bannerGrid {
        margin: 0 auto;
        display: grid;
        gap: 1rem;

        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    }

    .bannerGridItemImage {
        width: 100%;
    }

    .LoginBox {
        padding: 20px;

    }

    .Topbtnbox {
        width: 100%;
        overflow: auto;
        padding: 5px;

    }


    .TitleWithBackHeader {
        margin-top: 0px;
        margin-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        padding: 0px;

    }

    .TitleWithBackHeaderA {
        width: 100%;
    }

    .TitleWithBackHeaderB {
        width: 100%;
    }

    .Acbtn {
        min-width: fit-content;
    }

    .coursedetailsBox1 {
        flex-direction: column;
    }

    .coursedetailsBox1A {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin: 0px;
        overflow: hidden;
        width: 100%;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);


        display: flex;
    }



    .coursedetailsBox1B {

        border-radius: 10px;

        margin-top: 20px;
        overflow: hidden;
        width: 100%;

        padding: 0px;
    }

    .Courseoverviewbox {
        padding: 10px;
        box-shadow: none;
        margin: 0px;

    }

    .stickyContainer2 {

        padding: 5px;

    }

    .OnlyDesktop {
        display: none;
    }

    .OnlyMobile {
        display: block;
    }

    .VideolistboxItem {
        flex-direction: column;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        margin-top: 10px;
        border-radius: 10px;
    }


    .VideolistboxItemA {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .videothumbBox {
        display: flex;
        width: 100%;
    }

    .videothumbimg {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

    }

    .VideoContentbox {
        margin-left: 0px;

    }


    .VideoBoxFlex {
        display: flex;
        flex-direction: column;
    }

    .VideoBoxFlexA {
        width: 100%;
        overflow: hidden;
    }

    .VideoBoxFlexB {

        width: 100%;

    }


    .Videoeditcard {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;

    }

    .VideoeditcardContent {

        padding: 10px;
    }

    .LoginBoxContainer {
        margin: auto;
        width: 100%;




    }

    .overlayLogin {

        width: 95%;
        height: 100%;
        margin: auto;
        display: block;
        align-items: initial;
        justify-content: initial;
        padding-top: 20px;


    }

    .LoginBox {

        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
        border-radius: 10px;
        padding: 20px;


    }


    .ProfileTabboxHeader {
        overflow: auto;
    }

    .ProfileTabboxHeader::-webkit-scrollbar {
        display: none;
    }

    .BranchDataBox {

        display: flex;
        flex-direction: column;


    }

    .BranchDataBoxA {

        width: 100%;
        padding: 5px;
        border-radius: 5px;
        box-shadow: none;
        margin: 0px;

    }

    .BranchDataBoxB {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        box-shadow: none;
        margin: 0;
        margin-top: 10px;
    }

    .MboxMain {
        margin-top: 60px;
        padding: 5px;
    }



    .ProfileboxgridItem {
        margin: 0px;
        flex-direction: column;
        justify-content: initial;


    }

    .Activebtnbox {
        margin-top: 20px;

    }

    .RechargeBox {
        padding: 20px;
        cursor: pointer;
        border-radius: 0.5rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
        margin: 5px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }

    .Formbox {
        max-width: 100%;
    }

    .OrderStatusBox {
        margin: auto;
        width: 100%;

    }

    .OrderDatabox {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
        padding: 20px;

    }

    .PGDilogBox {
        min-width: 300px;
        border-radius: 20px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
        padding: 10px;
        background-color: white;

    }

    .CreditBBoxPbox {
        padding: 20px;
    }

    .OrderDonebox {
        padding: 5px;
        margin: auto;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }



    .TopFlexboxA {
        width: 100%;
    }

    .TopFlexboxB {
        width: 100%;
        padding: 10px;
    }


    .ADtexttwo {
        color: white;
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        text-align: center;

    }

    .MBFlex {
        display: flex;

        flex-wrap: wrap-reverse;
        justify-content: center;


    }

    .MBFlexA {
        width: 100%;
        padding: 10px;
    }

    .MBFlexB {
        width: 100%;
        padding: 0px;
    }

    .MainCounterGrid {
        margin: 0 auto;
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

    }


    .AddSubsBoxMianPadding {
        width: 100%;
        margin: auto;
        padding: 0px;
    }

    .DbTopBoxMain {
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
        padding: 20px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

    }

    .SettingsItemBox {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
        padding: 10px;
        background-color: white;

    }

    .SettingsItem {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;


    }

    .LbPosterGrid {
        display: flex;
        overflow: auto;
        gap: 0rem;
        margin-top: 10px;
    }

    .LbPosterGrid::-webkit-scrollbar {
        display: none;
    }

    .LBPosteritem {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgb(233, 221, 221);
        margin: 2px;
        min-width: 50%;

    }

}