.LogoBox{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.LogoBoxB{
    font-weight: 500;
    font-size: 15px;
}
.Logomain{
    padding: 10px;
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Logomain img{
    width:100%;
}
.MainContainer{
    min-height:100vh;
    padding: 20px;
    background-color: white;
}
.TitleWithBackHeader{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.EditCatBox{
    margin: auto;
    width: 50%;
    padding: 20px;
    border-radius: 5px;
   
}
.TitleWithBackHeaderA{
    display: flex;
    align-items: center;
   
}
.TitleWithBackHeaderA span{
    font-weight: bold;
}
.TitleWithBackHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logomain small{
    text-transform: uppercase;
    font-weight: 500;
}
.LoginBox{
    padding:20px;
    background-color: red;

}
.inputlogin{
    min-width: 300px;
    margin: 20px;
}
.Catgrid{
cursor: pointer;
}
.Catgrid:hover{
    border: 1px dashed #5569ff;
}
.min100vh{
    margin-top: 20px;
    min-height: 100vh;
}
.featuresimagebox{
    padding:10px;
    border-radius: 10px;
    border: 1px dashed rgb(211, 199, 199);
    display: flex;
    align-items: center;

}
.featuresimageboxA{
    width:50%;
    text-align: center;
}
.ItemList{
    margin: 10px;
    border: 1px solid rgb(233, 222, 222);
    padding: 10px;
    border-radius: 10px;
}
.ItemListBox{
    display: flex;
}
.ItemListBoxA{
    max-width: 200px;
}
.ItemListBoxB{
    margin-left: 10px;
}
.ItemListBoxB h3{
    margin: 0;
}

.OptionItem {
    margin: 10px;
    border: 1px solid rgb(233, 222, 222);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.OptionItem:hover{
    color: rgb(214, 95, 95);
}
.OptionItemBox{
    display: flex;
    align-items: center;
}
.OptionItemBoxA{
width: 100%;
}
.OptionItemBoxB{
    margin-left: 10px;
width: fit-content;
}

.OptionItemBox h3{
margin: 0;
}
.OptionItemBox span{
    color: blue;
    font-size: 12px;
}
.Modalheader{
    display: flex;
    align-items: center;
   
}
.ModalheaderText{
    margin-left: 10px;
    font-weight: bold;
}
.Curserpointer{
    cursor: pointer;
}
.DashboardCounterBox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.DashboardCounterItem{
    padding: 15px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
    margin: 10px;
    background-color: white;
    min-width:23%;
}
.DashboardCounterItemA{
    display: flex;
    flex-direction: column;
}
.DashboardCounterItemA span{
    font-weight: 600;
}
.UserProfileBoxTop{
    padding:20px;
    display: flex;

}
.UserProfileBoxTopB{
    margin-left: 10px;
}
.UserProfileBoxTopBName{
    font-weight: 600;
    font-size:25px;
}