.DatepikerCustom{
    padding: 10px;
    border-radius: 10px;
    outline: none !important;
    border: none !important;
}
.LbPosterGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}
.LBPosteritemimg{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.LBPosteritemBottom{
    margin-top: 10px;
}
.LBPosteritem{
   
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(233, 221, 221);
    margin: 10px;
   
}
.LBsmallBoxHeader{
    display: flex;
    justify-content: space-between;
}
.LBsmallBoxHeaderA span{
    font-weight: 700;
}


/* Seat Layout */


.SeatBoxLayout {
    overflow: auto !important;
    max-height: 540px;
    padding: 50px;

}

.SeatItemMainB {
    font-weight: bold;
}

.SeatItemMain {
    width: 150px;
    height: 70px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}


.SeatItemMainSelected {
    width: 150px;
    height: 70px;
   
    background-color: #5569ff;
    color:white !important;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.SeatItemOccupied {
    width: 150px;
    height: 70px;
   
    background-color: #ff5555;
    color:white !important;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.SeatBoxLayout::-webkit-scrollbar {
    max-height: 8px;
    width: 8px;
}

/* Define the style for the scrollbar thumb of the specific class */
.SeatBoxLayout::-webkit-scrollbar-thumb {
    background-color: #00a6ff;
    /* Color of the thumb */
    border-radius: 5px;
    /* Rounded corners */


}

/* Define the style for the scrollbar track of the specific class when the thumb is being dragged */
.SeatBoxLayout::-webkit-scrollbar-track {
    background-color: #7bff00;
    /* Color of the track */
}

/* Define the style for the corners of the scrollbar of the specific class */
.SeatBoxLayout::-webkit-scrollbar-corner {
    background-color: #310b0b;
    /* Color of the corners */
}


.MainSeatBox {
    background-color: #f7f6f4;
    border-radius: 10px;
}

.SeatBlock1 {
    margin-top: 250px;
    transform: rotate(90deg);
    padding: 20px;
    width: auto !important;
    height: auto;
}

.SeatBlock2 {
    display: flex;
}

.SeatBlock2A {

    width: 40%;

}

.SeatBlock2B {
    z-index:+1;
    width: 60%;
    padding: 20px;
    border-left: 1px dashed rgb(192, 171, 171);
}



.SeatItemMainA {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.SeatItemMainA small {
    font-size: 10px;
}

/* Seat Layout End */
.AddSubsBoxMian {
    height: 90vh;
    overflow: auto !important;
    background-color: #F5EEF8;
}

.Inputlabletext {

    font-weight: 600;
    margin-bottom: 20px;
    font-size: 15px;
    background-color: #e7e7ee;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.Addonlist {

    border-bottom: 1px solid rgb(240, 215, 215);
    color: rgb(77, 71, 71);
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.Branchitemlist {

    border-bottom: 1px solid rgb(240, 215, 215);
    color: rgb(77, 71, 71);
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.Branchitemlist:hover {
    background-color: #5569ff;
    color: rgb(255, 255, 255);
}

.BranchitemlistA {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.SelectBtn {
    border-radius: 10px;
    background-color: #201f1f;
    color: rgb(255, 255, 255);
    padding: 5px 25px 5px 25px;
    font-size: 12px;
}

.AddSubsBoxMianPadding {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.BranchDataBox {

    display: flex;
    flex-direction: column;


}

.BranchboxItem {

    width: 'fit-content';
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;

}

.BranchDataBoxA {

    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;

}

.BranchDataBoxB {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;
}

.BrachDetailbox {

    width: '100%';
}

.flextowdiv {
    display: flex;
}

.flextowdivA {
    width: 50%;
}

.flextowdivB {
    width: 50%;
}

.ProfileTabbox {
    margin-top: 10px;
}

.logomainMobile {
    width: 100px;
}

.urlitem {
    color: #5569ff;
    cursor: pointer;
}

.urlitem:hover {
    color: #ffbe55;
    cursor: pointer;
}

.ProfileTabboxHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(240, 215, 215);
    padding-bottom: 10px;
}

.ProfileTabboxMenuItem {

    padding: 10px;
    background-color: rgb(246, 241, 241);
    margin: 5px;
    color: black;
    font-weight: 500;
    min-width: 140px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;

}

.ProfileTabboxMenuItemActive {

    padding: 10px;

    margin: 5px;

    font-weight: 500;
    min-width: 140px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: #5569ff;

    color: rgb(255, 255, 255);

}



.Profileboxgrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
}

.ProfileboxgridItem {

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);

    padding: 20px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;

}

.MainProfileBox {
    display: flex;
}

.MainProfileBoxB {
    margin-left: 10px;
}

.MainProfileBoxB span {
    font-weight: 600;
    font-size: 20px;
}

.OrdedetailsItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.OrderBoxData {

    padding: 20px;
    border-radius: 10px;

}

.OrderBoxGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
}

.OrdedetailsItemA {
    font-weight: 600;
}

.OrderBoxGridItem {

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);

    padding: 20px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;

}

.OrderBoxGridItemTitle {
    font-weight: bold;
}

.MainCounterGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

.logomainDBimg {
    width: 50px;
}

.logomainDB {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* height: 40px; */
    cursor: pointer;

}


.Flexbtnbox {
    display: flex;
    align-items: center;
}

.OnlyDesktop {
    display: block;
}

.OnlyMobile {
    display: none;
}

.EducatorCoursegrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));

}

.Prilename {
    text-align: center;
    margin: 10px;
    font-weight: 600;
}

.EducatorProfileboxA {
    display: flex;
    align-items: center;
    justify-content: center;

}

.EducatorProfileboxB {
    display: flex;
    flex-direction: column;
}

.EducatorlistSearch {
    width: 100%;

    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.EducatorlistSearch:hover {
    border: 1px solid black
}

.EducatorlistSearchA {
    width: 50px;
}

.EducatorlistSearchB {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.EducatorlistSearchB span {

    font-weight: 600;

}

.coursedetailsBox1Aimg {
    width: 100%;
}

.EducatorCoursegridItem {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: rgb(235, 232, 255);
    border-radius: 10px;
    text-align: center;

    padding: 20px;
    color: rgb(0, 0, 0);

}

.EducatorCoursegridItem span {
    font-weight: 600;
}


.CourseCounteritemGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

}

.Courseoverviewbox {
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    margin: 10px;

}

.CourseCounteritem {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(235, 232, 255);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(0, 0, 0);

}

.CourseCounteritem span {
    font-size: 20px;
    font-weight: 600;
}

.coursedetailsBox1 {
    display: flex;
}

.stickyContainerBox {
    width: 100%;
    background-color: white;
    min-height: 100%;
}

.coursedetailsBox1A {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    width: 50%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);


    display: flex;
}



.coursedetailsBox1B {

    border-radius: 10px;


    overflow: hidden;
    width: 50%;

    padding: 20px;
}

.Courselistimgbox {
    display: flex;
}

.CourselistItemTable {
    cursor: pointer;
}



.CourselistimgboxB {
    margin-left: 10px;
}

.stickyContainer {
    height: 560px;
    padding: 20px;
    overflow: auto;
}

.stickyContainer2 {
    height: 560px;
    padding: 20px;
    overflow: auto;
}

.DashboardCounterGrid {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

.Topbtnbox {
    display: flex;
    align-items: center;

}

.Topbtnbox::-webkit-scrollbar {
    display: none;
}

.TopbtnboxSearch {
    min-width: fit-content;
}

.Topbtnboxbtn {
    min-width: fit-content;
    margin-left: 5px;
}

.VideoBoxFlex {
    display: flex;
}

.VideoBoxFlexA {
    width: 50%;
    overflow: hidden;
}

.VideoBoxFlexB {

    width: 50%;

}

.Videoeditcard {
    margin-left: 20px;
    margin-right: 20px;

}

.VideoeditcardContent {

    padding: 20px;
}

.VideolistboxItem {
    display: flex;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.VideolistboxItemA {
    width: 50%;
    display: flex;
}

.videothumbimg {
    width: 180px;
    border-radius: 10px;
    overflow: hidden;

}

.videothumbBox {
    display: flex;
    width: 50%;
}

.VideoContentbox {
    margin-left: 15px;

}


.VideoContentbox h3 {
    margin: 0;
}

.Vtitle {
    font-size: 15px;
    font-weight: 600;
}


.stickyBoxList {
    height: 500px;
}


.videothumbTitleBox {
    width: 75%;
    margin-left: 10px;
    padding: 10px;
}

.VideoStickList {
    display: flex;
    align-items: center;
    font-size: 14px;

}

.VideoStickListA {
    margin-top: 5px;
}

.VideoStickListB {
    font-weight: 500;
    margin-left: 5px;
}

.VideoStickListBox {
    display: flex;
    align-items: center;
}

.TablevideotitleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.TablevideotitleBoxA {
    font-weight: 600;
}

.LogoBox {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.TopActionBtn {
    display: flex;
    align-items: center;
}

.LogoBoxB {
    font-weight: 500;
    font-size: 15px;
}

.Logomain {
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logomain img {
    width: 100%;
}

.MainContainer {
    min-height: 100vh;
    padding: 20px;
    background-color: white;
}

.stickytableBox {
    width: 100%;
    overflow: hidden;
    background-color: white;
    min-height: 60vh;
}

.stickytable {
    height: 550px;
}

.TitleWithBackHeader {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.marginTopMain {
    margin-top: 10px;
}


.EditCatBox {
    margin: auto;
    width: 50%;
    padding: 20px;
    border-radius: 5px;

}

.TitleWithBackHeaderA {
    display: flex;
    align-items: center;

}

.TitleWithBackHeaderA span {
    font-weight: bold;
}

.TitleWithBackHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logomain small {
    text-transform: uppercase;
    font-weight: 500;
}

.LoginBoxContainer {
    margin: auto;
    width: 50%;


}

.LoginBox {
    margin-top: 50px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    border-radius: 10px;
    padding: 20px;


}

.inputlogin {
    margin-top: 20px;
}

.Catgrid {
    cursor: pointer;
}

.Catgrid:hover {
    border: 1px dashed #5569ff;
}

.min100vh {
    margin-top: 20px;
    min-height: 100vh;
}

.featuresimagebox {
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed rgb(211, 199, 199);
    display: flex;
    align-items: center;

}

.featuresimageboxA {
    width: 50%;
    text-align: center;
}

.ItemList {
    margin: 10px;
    border: 1px solid rgb(233, 222, 222);
    padding: 10px;
    border-radius: 10px;
}

.ItemListBox {
    display: flex;
}

.ItemListBoxA {
    max-width: 200px;
}

.ItemListBoxB {
    margin-left: 10px;
}

.ItemListBoxB h3 {
    margin: 0;
}

.OptionItem {
    margin: 10px;
    border: 1px solid rgb(233, 222, 222);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.OptionItem:hover {
    color: rgb(214, 95, 95);
}

.OptionItemBox {
    display: flex;
    align-items: center;
}

.OptionItemBoxA {
    width: 100%;
}

.OptionItemBoxB {
    margin-left: 10px;
    width: fit-content;
}

.OptionItemBox h3 {
    margin: 0;
}

.OptionItemBox span {
    color: blue;
    font-size: 12px;
}

.Modalheader {
    display: flex;
    align-items: center;

}

.ModalheaderText {
    margin-left: 10px;
    font-weight: bold;
}

.Curserpointer {
    cursor: pointer;
}



.DashboardCounterItem {
    padding: 15px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    background-color: white;

}

.DashboardCounterItemA {
    display: flex;
    flex-direction: column;
}

.DashboardCounterItemA span {
    font-weight: 600;
}

.UserProfileBoxTop {
    padding: 20px;
    display: flex;

}

.UserProfileBoxTopB {
    margin-left: 10px;
}

.UserProfileBoxTopBName {
    font-weight: 600;
    font-size: 25px;
}

@media only screen and (max-width: 1100px) {
    .TitleWithBackHeader {
        flex-direction: column;
        align-items: flex-start;

    }



    .stickytable {
        height: 100%;
    }


    .DashboardGrid {
        margin: 0 auto;
        display: grid;
        gap: 1rem;

        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    }

    .OrderStatusBox {

        flex-wrap: wrap;

    }

    .OrderStatusBoxA {
        width: 100%;
        padding: 5px;
    }

    .OrderStatusBoxB {
        width: 100%;
        padding: 5px;
    }

    .FullDilogBox {
        width: 500px;
    }

    .featuresimagebox {
        flex-direction: column;
    }

    .featuresimageboxB {
        margin-top: 10px;
    }

    .bannerGrid {
        margin: 0 auto;
        display: grid;
        gap: 1rem;

        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    }

    .bannerGridItemImage {
        width: 100%;
    }

    .LoginBox {
        padding: 20px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        margin: auto;

    }

    .Topbtnbox {
        width: 100%;
        overflow: auto;
        padding: 5px;

    }

    .TitleWithBackHeader {
        margin-top: 0px;
        margin-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        padding: 0px;

    }

    .TitleWithBackHeaderA {
        width: 100%;
    }

    .TitleWithBackHeaderB {
        width: 100%;
    }

    .Acbtn {
        min-width: fit-content;
    }

    .coursedetailsBox1 {
        flex-direction: column;
    }

    .coursedetailsBox1A {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin: 0px;
        overflow: hidden;
        width: 100%;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);


        display: flex;
    }



    .coursedetailsBox1B {

        border-radius: 10px;

        margin-top: 20px;
        overflow: hidden;
        width: 100%;

        padding: 0px;
    }

    .Courseoverviewbox {
        padding: 10px;
        box-shadow: none;
        margin: 0px;

    }

    .stickyContainer2 {

        padding: 5px;

    }

    .OnlyDesktop {
        display: none;
    }

    .OnlyMobile {
        display: block;
    }

    .VideolistboxItem {
        flex-direction: column;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        margin-top: 10px;
        border-radius: 10px;
    }


    .VideolistboxItemA {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .videothumbBox {
        display: flex;
        width: 100%;
    }

    .videothumbimg {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

    }

    .VideoContentbox {
        margin-left: 0px;

    }


    .VideoBoxFlex {
        display: flex;
        flex-direction: column;
    }

    .VideoBoxFlexA {
        width: 100%;
        overflow: hidden;
    }

    .VideoBoxFlexB {

        width: 100%;

    }


    .Videoeditcard {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;

    }

    .VideoeditcardContent {

        padding: 10px;
    }

    .LoginBoxContainer {

        width: 100%;


    }

    .LoginBox {
        margin-top: 50px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
        border-radius: 10px;
        padding: 20px;


    }


    .ProfileTabboxHeader {
        overflow: auto;
    }

    .ProfileTabboxHeader::-webkit-scrollbar {
        display: none;
    }

    .BranchDataBox {

        display: flex;
        flex-direction: column;


    }

    .BranchDataBoxA {

        width: 100%;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
        margin: 0px;

    }

    .BranchDataBoxB {
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 22%);
        margin: 0px;
    }

}